/*-------------------------------------------
 *   Application Styling
-------------------------------------------*/

/* --- Modal Styling ---*/


/* --- Dynamic classes for types (Note: got colors from https://gist.github.com/apaleslimghost/0d25ec801ca4fc43317bcff298af43c3 ---*/
    
.bug {
    background-color: #A6B91A;
}

.dark {
    color: white; /* for better contrast between text and background */
    background-color: #705746;
}

.dragon {
    background-color: #6F35FC;
}

.electric {
    background-color: #F7D02C;
}

.fairy {
    background-color: #D685AD;
}

.fighting {
    background-color: #C22E28;
}

.fire {
    background-color: #EE8130;
}

.flying {
    background-color: #A98FF3;
}

.ghost {
    color: white; /* for better contrast between text and background */
    background-color: #735797;
}

.grass {
    background-color: #7AC74C;
}

.ground {
    background-color: #E2BF65;
}

.ice {
    background-color: #96D9D6;
}

.normal {
    background-color: #A8A77A;
}

.poison {
    background-color: #A33EA1;
}

.psychic {
    background-color: #F95587;
}

.rock {
    background-color: #B6A136;
}   

.steel {
    background-color: #B7B7CE;
}

.water {
    background-color: #6390F0;
}




/* ------------------------------------------
*   Layouts
-------------------------------------------*/

*{
font-size: 1rem;
}

body {
display: flex;
flex-direction: column;
margin: 0;
font-family: Helvetica, sans-serif;
}

/* Header */

.top {
min-height: 15vh;
background-color: rgb(180, 45, 45);
}

/* Center content */

.center {

display: flex;
background-color: rgb(202, 179, 159);
min-height: 70vh;

}

.side{
background-color: rgb(212, 212, 212);
flex: 1;
}

#app{
background-color: rgb(255, 255, 255);
flex: 9;
padding: 1.5rem;
}

#invalidInput {
text-align: center;
font-weight: bold;
}

#createForm {
text-align: center;

}

h1 {
text-align: center;
color: whitesmoke;
font-size: 3rem;
margin: 0.5rem;
}

input, select {
background-color: rgb(233, 205, 205);
}